<div class="report-info-block" style="border-top:none">
    <div id="list-WorkbenchDemo" class="" style="background: #f0f0f0; padding: 10px;">
        <h3>1200 Subjects Group Average Data <span class="inline-link">Updated July 31, 2017</span></h3>
        <p>This dataset includes 3T group average structural, rfMRI dense connectome, and tfMRI data for the final HCP S1200 data release. Group average structural data (volumes, surfaces, and cortical myelin, thickness, folding, and 'sulc') are based on all 1096 subjects that have at least one run of rfMRI data (and hence were eligible for MSMAll registration). Functional connectivity (rfMRI dense connectomes) are based on the 1003 subjects having complete (4 runs, 1200 total timepoints) rfMRI (both recon r177 and r227) and the 812 subjects having complete rfMRI with improved fMRI image reconstruction version r227, see <a href="http://humanconnectome.org/documentation/S1200/HCP1200-DenseConnectome+PTN+Appendix-July2017.pdf" target="_blank" title="Open HCP Documentation in a new window" style="font-weight:bold">HCP1200-DenseConnectome+PTN+Appendix-July2017.pdf</a> for comparison of R1003 and R812 rfMRI data. Task fMRI data (Cohen's D activation contrast maps) are based on 997 subjects that additionally have complete tfMRI data for all 7 tasks. Also included are composite files S1200.All.*.dscalar.nii that include individual subject maps of cortical myelin, thickness, folding, and sulc for all 1096 MSMAll-registered subjects.</p>
        <p>The included HCP_S1200_GroupAvg_v1.scene file and associated tutorial PDF is provided for easy viewing in <a href="http://humanconnectome.org/connectome/get-connectome-workbench.html" title="Get Connectome Workbench">Connectome Workbench</a> (v1.2.3 and later) and enables interactive access to group average (R1003 and R812) functional connectivity (fcMRI) data ("dense connectomes") that are stored on ConnectomeDB, obviating the need to download these large data files. Additionally, cortical parcellations generated from other studies, including the HCP-MMP1.0 parcellation (Glasser et al., Nature 2016) are included as reference datasets.</p>
        <p><a href="/app/action/ChooseDownloadResources?project=HCP_Resources&amp;resource=Workbench&amp;filePath=HCP_S1200_GroupAvg_v1.zip"><button class="btn1">Download Group Average Dataset (2.3GB)</button></a></p>
    </div> <!-- dataset -->

    <a name="megatrawl"></a>
    <div id="list-WorkbenchDemo" class="" style="background: #f0f0f0; padding: 10px; margin-top: 1em;">
        <div style="float:right; width:200px; height:200px; border:1px solid #ccc; margin-left: 40px;" class="megaTrawlOpener"><img src="$content.getURI('/images/megatrawl-thumb.png')" alt="thumb" /></div>
        <h3>Netmats MegaTrawl (900 Subjects) <span class="inline-link">Released May 25, 2016</span></h3>
        <p>We summarise here an analysis of the relationships between imaging and non-imaging measures in the HCP, using multivariate-prediction and univariate-regression to relate 200 non-imaging behavioural and demographic subject measures (SMs: age, sex, education, tobacco intake, IQ, reading ability, etc.) to 819 individuals' functional connectivity data.</p>
        <p>Resting-state fMRI (rfMRI) data from the 900-subjects 2016 HCP data release (HCP900-PTN) was processed, using data from all 819 subjects having four complete rfMRI runs. Using this cohort, partial correlation network matrices were used to predict (and regress against) 200 subject measure (SM) variables, such as IQ, age and sex.</p>
        <p><a href="/megatrawl/HCP820_MegaTrawl_April2016.pdf" title="Megatrawl release documentation (PDF)" style="font-weight:bold" target="_blank">Megatrawl Release Documentation</a></p>
        <p><button class="btn1 megaTrawlOpener" title="Open MegaTrawl Browser">Open MegaTrawl Browser</button></p>
    </div>

    <div id="list-WorkbenchDemo" class="" style="background: #f0f0f0; padding: 10px; margin-top: 1em;">
        <h3>900 Subjects Group Average Data <span class="inline-link">Updated Jan 10, 2016</span></h3>
        <p>This dataset includes group average data for several modalities from the HCP S900 data release. The S900 dataset is the first HCP data release to capitalize on cortical areal feature-based surface registration ("MSMAlll") using folding, myelin maps, and rfMRI (Robinson et al., NeuroImage, 2014). Group average structural data (volumes, surfaces, and cortical myelin, thickness, folding, and 'sulc') are based on all 881 subjects that have at least one run of rfMRI data (and hence were eligible for MSMAll registration). Functional connectivity is based on the 820 subjects having complete (4 x 15min) rfMRI runs. Task fMRI data is based on 787 subjects that additionally have complete tfMRI data for all 7 tasks. Also included are composite files that include maps of cortical myelin, thickness, folding, and sulc for all 881 MSM-registered subjects.</p>
        <p>An associated scene file enables interactive access to group average (R820) functional connectivity (fcMRI) data ("dense connectomes") that are stored on ConnectomeDB. Additionally, cortical parcellations generated from other studies are included as reference datasets. The download package includes a short tutorial for easy viewing in <a href="http://humanconnectome.org/connectome/get-connectome-workbench.html" title="Get Connectome Workbench">Connectome Workbench</a> (v1.1.1 and later).</p>
        <p><a href="/app/action/ChooseDownloadResources?project=HCP_Resources&amp;resource=Workbench&amp;filePath=HCP_S900_GroupAvg_v1.zip"><button class="btn1">Download Group Average Dataset</button></a></p>
    </div> <!-- dataset -->

    <div id="list-WorkbenchData" class="" style="padding: 10px; background-color: #f0f0f0; margin-top: 1em;">
        <h3>Connectome Workbench Tutorial Data <span class="inline-link">Updated Sept 10, 2014</span></h3>
        <p>This dataset to be used with the included Connectome Workbench v1.0 Tutorial includes processed group-average R440 and individual subject (100307) data released as part of the 500 Subjects Release and scene files for easy viewing in Workbench.  Data included are R440 group-average and 100307 individual structural scans (T1w, T2w), cortical surfaces, myelin maps, curvature maps, cortical thickness maps, sulc maps, and R440 group-average Task-fMRI results for 7 tasks and many task contrasts.  Also included is a set of group-average parcellated functional connectivity data generated on a group of 196 related HCP Q1-Q3 subjects (R196) that may be viewed as surface maps or as a matrix chart in WB v1.0. Data derived from structural scans are included at 32k and 164k resolutions, functional data is at 32k resolution only.</p>
        <p><a href="/app/action/ChooseDownloadResources?project=HCP_Resources&amp;resource=Workbench&amp;filePath=HCP_WB_Tutorial_1.0.zip"><button class="btn1">Download Workbench v1.0 Tutorial Dataset</button></a></p>
    </div> <!-- dataset -->

    <div id="list-WorkbenchDemo" class="" style="background: #f0f0f0; padding: 10px; margin-top: 1em;">
        <h3>500 Subjects Group Average Data <span class="inline-link">Updated Jun 4, 2014</span></h3>
        <p>This dataset includes group average data from two sets of subjects: an "R440" group of 440 subjects, many of whom are related to one another (twins or non twin siblings) and a "U100" group of 100 unrelated subjects.  The anatomical substrate is based on average T1w and T2w volumes and cortical surfaces from the R440 group, plus myelin maps, cortical thickness maps, and task-fMRI results (7 tasks and many task contrasts) for both the R440 and U100 groups. </p>
        <p>The associated scene file enables interactive access to group average (R440 and U100) functional connectivity (fcMRI) data ("dense connectomes") that are stored on ConnectomeDB. The download package includes a short tutorial for easy viewing in <a href="http://humanconnectome.org/connectome/get-connectome-workbench.html" title="Get Connectome Workbench">Connectome Workbench</a> (Beta v0.83 and later).  The tutorial also includes instructions on how to download the "group-PCA eigenmaps", which are a more compact representation than the fcMRI dense connectomes and can be used to quickly and faithfully generate local copies of the dense connectomes.</p>
        <p><a href="/app/action/ChooseDownloadResources?project=HCP_Resources&amp;resource=Workbench&amp;filePath=HCP_Q1-Q6_GroupAvg_Related440_Unrelated100_v1.zip"><button class="btn1">Download Group Average Workbench Dataset</button></a> <a href="/app/action/ChooseDownloadResources?project=HCP_Resources&amp;resource=GroupAvg&amp;filePath=HCP_S500_R468_rfMRI_groupPCA_d4500_Eigenmaps.zip"><button class="btn2">Download Group-PCA Eigenmaps</button></a></p>
    </div> <!-- dataset -->
</div>

<script>
    $(".megaTrawlOpener").on("click",function(){
       window.open('/megatrawl/index.html','_blank');
       /* window.open('/app/template/MegaTrawl_launcher.vm','_blank'); */
    });
</script>
