<!-- BEGIN imageSessionData/xnat_imageSessionData_report.vm -->
## Disable image viewer for now because of issues handling shared sessions 
##parse("/screens/XImgView.vm")
<style type="text/css">
    body div.xmenu ul li.image a { padding-left: 22px ; background-position: 4px 4px ; }
    body div.xmenu .button_content img { top: -2px ; padding-right: 2px ; }
</style>
<script type="text/javascript" src="$content.getURI('/scripts/datasetUtils/datasetUtils.js')"></script>
#if($project) #else #set($project=$om.getProject()) #end
#set($subject = $om.getSubjectData())
#set($proj = $!om.getProject($om.getProject(), false))
#set($umbrellaProject = $!proj.getRootProject().getId())
##<link type="text/css" rel="stylesheet" href="$content.getURI('/scripts/xModal/xModal.css')">
##<script type="text/javascript" src="$content.getURI('/scripts/xModal/xModal.js')"></script>
##<script type="text/javascript" src="$content.getURI('/scripts/data-access.js')"></script>
<script type="text/javascript" src="$content.getURI('/scripts/HCP/dataAccess.js')"></script>
<script type="text/javascript" src="$content.getURI("scripts/FileViewer.js")"></script>
<script type="text/javascript">
        #set($accessLevel = $data.getSession().getAttribute("userTiers").get($project).get("accessLevel"))
        #if($accessLevel > 0)
        var hasRestrictedAccess = true;
        #else
        var hasRestrictedAccess = false;
        #end
    var current_project_name = '$project';
    document.title = "$om.getSchemaElement().getSingularDescription(): $!item.getProperty('label')";

downloadNonRestricted = function(){
    window.location=serverRoot+"/REST/search/dict/Subject Information/results?format=csv&removeDelimitersFromFieldValues=true&subject=${subject.getLabel()}&restricted=0&project=$umbrellaProject";
};

downloadRestrictedModal=function(){

    var modal_opts = {};
    modal_opts.okAction = function(){
        window.location=serverRoot+"/REST/search/dict/Subject Information/results?format=csv&removeDelimitersFromFieldValues=true&subject=${subject.getLabel()}&restricted=1,2&project=$umbrellaProject";
    };
    showRestrictedModal(modal_opts);
};

</script>

#if($data.getSession().getAttribute("user").checkRole("Administrator"))
   #addCustomScreens($om.getXSIType() "report/alert")
      #parse("/screens/workflow_alert.vm")
#end

<div id="header">
    #parse("/screens/DataView.vm")
  <div class="subject-page header">
	<h1 id="page-title">$displayManager.getSingularDisplayNameForImageSession() Details: $!item.getProperty('label')</h1>
	<!-- borrow breadcrumb trail from xdat-templates/default.vm -->
	#parse("/screens/Breadcrumb-screen.vm")
  </div>
</div>

<div name="subject-toolbar" id="toolbar-positioner">
  <div id="toolbar-container" class="subjectKey">
	<div id="toolbar"> <!-- toolbar listing order from right to left -->

	  <div class="toolset vertical"> <!-- get data -->
		<div class="toolset-header">Actions</div>
		<div class="toolset-content">
		  	#set($dashboardUri = "app/template/SubjectDashboard.vm?subject=${subject.getLabel()}")
		  	
			<div class="tool" onclick="window.location.assign('$content.getURI($dashboardUri)')">
			  <img src="$content.getURI('images/tool-dashboard.png')" />
			  <label>Go to Dashboard</label>
			</div>
			<!--  Disable image viewer for now because of issues handling shared sessions 
                    	<div class="tool" onclick="launchXImgView()">
				<span class="icon icon-dashboard"></span>
				<label>View Images</label>
			</div>
			-->
			<div class="tool" id="open_csv">
                <select class="xmenu" id="csv_selector" size="15" style="display:none;"></select>
                    <span class="button_content static" style="width:auto;height:auto;margin:0;padding:0;line-height:1;background:transparent;">
                        <span class="icon icon-group"></span>
						<label>Download CSV</label>
                    </span>
            </div>
			<div class="tool" onclick="showFiles();return false;">
			  <img src="$content.getURI('images/tool-get-files.png')" />
			  <label>Get Files</label>
			</div>
			<div class="tool" onclick="jq('#downloadPackagesActionForm').submit();">
			  <img src="$content.getURI('images/tool-download-images.png')" />
			  <label>Download Images</label>
			  <form id="downloadPackagesActionForm" name="downloadPackagesActionForm" action="$content.getURI('app/action/DownloadPackagesAction')" method="POST">
				  <input type="hidden" name="project" value="$umbrellaProject" >
				  <input type="hidden" id="subjects" name="subjects" value="#if($project)$!subject.getIdentifier($project,false)#else$!subject.getId()#end" />
			  </form>
			</div>
		</div>
	  </div>

	  <div class="toolset current-selection"> <!-- primary (left-aligned) -->
		<div class="toolset-header">Current Selection</div>
		<div class="toolset-content subject-group">
		  <h3 class="session-icon selection-title"><span title="Scanner">$!item.getProperty("scanner") $!item.getProperty("scanner.manufacturer") $!item.getProperty("scanner.model")</span>, <span title="Acquisition Site">$!item.getProperty("acquisition_site")</span></h3>
		  <p><strong>Accession ID:</strong> $!om.getId() <span class="inline-spacer">|</span> <strong>Operator:</strong> $!item.getProperty("operator")</p>
		  <p><strong>Last Updated:</strong> $!subject.InsertDate</p>
		</div>
	  </div>

	</div>
  </div> <!-- end toolbar container -->
</div> <!-- end #toolbar-positioner -->
<input type="hidden" id="dashboardProject" value="${data.getSession().getAttribute("project")}" />
<script type="text/javascript" src="$content.getURI('scripts/dashboard/csvs.js')"></script>

<script>
	// clean up appearance of toolbar, after all dynamic elements have been loaded.
	$(document).ready(function(){
		toolbarCleanup();
        loadCsvs();
	});
</script>


<div class="report-info-block">

#if("${project}" == "${data.getSession().getAttribute('defaultProject')}")
## only display these report blocks for HCP data
	<div id="subjQuality-3t">
		<h2 class="expts_header">Session Quality: 3T Summary</h2>
		<table width="100%">
			<tr>
				<th align="left" class="underscore">T1 Count</th>
				<th align="left" class="underscore">T2 Count</th>
				<th align="left" class="underscore">Resting State</th>
				<th align="left" class="underscore">T:Memory</th>
				<th align="left" class="underscore">T:Gambling</th>
				<th align="left" class="underscore">T:Motor</th>
				<th align="left" class="underscore">T:Language</th>
				<th align="left" class="underscore">T:Social</th>
				<th align="left" class="underscore">T:Relational</th>
				<th align="left" class="underscore">T:Emotional</th>
				<th align="left" class="underscore">Diffusion</th>
			</tr>
			#foreach ($assessor in $subject.getExperiments_experiment("hcp:subjectMetaData"))
				<tr>
					<td align="left">$assessor.getItem().getIntegerProperty("hcp:subjectMetaData/completeness/imaging/t1count")</td>
					<td align="left">$assessor.getItem().getIntegerProperty("hcp:subjectMetaData/completeness/imaging/t2count")</td>
					<td align="left">$assessor.getItem().getIntegerProperty("hcp:subjectMetaData/completeness/imaging/rfmri_count")</td>
					<td align="left">$assessor.getItem().getIntegerProperty("hcp:subjectMetaData/completeness/imaging/tfmri_wm_complete")</td>
					<td align="left">$assessor.getItem().getIntegerProperty("hcp:subjectMetaData/completeness/imaging/tfmri_gamb_complete")</td>
					<td align="left">$assessor.getItem().getIntegerProperty("hcp:subjectMetaData/completeness/imaging/tfmri_motor_complete")</td>
					<td align="left">$assessor.getItem().getIntegerProperty("hcp:subjectMetaData/completeness/imaging/tfmri_lang_complete")</td>
					<td align="left">$assessor.getItem().getIntegerProperty("hcp:subjectMetaData/completeness/imaging/tfmri_soc_complete")</td>
					<td align="left">$assessor.getItem().getIntegerProperty("hcp:subjectMetaData/completeness/imaging/tfmri_rel_complete")</td>
					<td align="left">$assessor.getItem().getIntegerProperty("hcp:subjectMetaData/completeness/imaging/tfmri_emot_complete")</td>
					<td align="left">$assessor.getItem().getIntegerProperty("hcp:subjectMetaData/completeness/imaging/dmri_complete")</td>
				</tr>
			#end
		</table>
	</div>

	<div id="subjQuality-behav">
		<h2 class="expts_header">Session Quality: Behavioral Summary</h2>
		<table width="100%">
			<tr>
				<th align="left" class="underscore">HCPPNP</th>
				<th align="left" class="underscore">DDISC</th>
				<th align="left" class="underscore">SPCPTNL</th>
				<th align="left" class="underscore">CPW</th>
				<th align="left" class="underscore">PMAT24A</th>
				<th align="left" class="underscore">VSPLOT24</th>
				<th align="left" class="underscore">ER40</th>
				<th align="left" class="underscore">NEO</th>
				<th align="left" class="underscore">ASR</th>
				<th align="left" class="underscore">ASR DSM</th>
			</tr>
			#foreach ($assessor in $subject.getExperiments_experiment("hcp:subjectMetaData"))
				<tr>
					<td align="left">$assessor.getItem().getIntegerProperty("hcp:subjectMetaData/completeness/nontoolbox/hcppnp")</td>
					<td align="left">$assessor.getItem().getIntegerProperty("hcp:subjectMetaData/completeness/nontoolbox/ddisc")</td>
					<td align="left">$assessor.getItem().getIntegerProperty("hcp:subjectMetaData/completeness/nontoolbox/spcptnl")</td>
					<td align="left">$assessor.getItem().getIntegerProperty("hcp:subjectMetaData/completeness/nontoolbox/cpw")</td>
					<td align="left">$assessor.getItem().getIntegerProperty("hcp:subjectMetaData/completeness/nontoolbox/pmat24a")</td>
					<td align="left">$assessor.getItem().getIntegerProperty("hcp:subjectMetaData/completeness/nontoolbox/vsplot24")</td>
					<td align="left">$assessor.getItem().getIntegerProperty("hcp:subjectMetaData/completeness/nontoolbox/er40")</td>
					<td align="left">$assessor.getItem().getIntegerProperty("hcp:subjectMetaData/completeness/nontoolbox/neo")</td>
					<td align="left">$assessor.getItem().getIntegerProperty("hcp:subjectMetaData/completeness/nontoolbox/asrSyndrome")</td>
					<td align="left">$assessor.getItem().getIntegerProperty("hcp:subjectMetaData/completeness/nontoolbox/asrDsm")</td>
				</tr>
			#end
		</table>
	</div>
## end of info exclusive to HCP projects
#end

	<div name="postDetails">#addCustomScreens($om.getXSIType() "report/postDetails")</div>
	<div name="projectSpecificFields">#parse("/screens/ReportProjectSpecificFields.vm")</div>
	
	<div name="qc_summary">#parse("/screens/qc_summary.vm")</div>
	<div name="preScans">#addCustomScreens($om.getXSIType() "report/preScans") </div>
	
	#parse($turbineUtils.getTemplateName("_scans",$om.getXSIType(),$project))
	
	<div name="postScans">#addCustomScreens($om.getXSIType() "report/postScans") </div>
	
	<div name="reconstructions">
	  <!--TEST 1-->
	  #set ($scanCounter = 101)
	  #parse($turbineUtils.getTemplateName("_reconstructions",$om.getXSIType(),$project))
	</div>
	
	<div name="postRecons">#addCustomScreens($om.getXSIType() "report/postRecons") </div>
	
	<div name="workflow_summary">
	  <!--TEST 2-->
	  #set ($scanCounter = 202)
	  #parse("/screens/workflow_summary.vm")
	</div>
	
	<div name="postWorkflowSummary">#addCustomScreens($om.getXSIType() "report/postWorkflowSummary") </div>
	
	<div name="assessments">#parse($turbineUtils.getTemplateName("_assessments",$om.getXSIType(),$project)) </div>
	
	<div name="postAssessments">#addCustomScreens($om.getXSIType() "report/postAssessments") </div>

</div> <!-- end report-info-block -->

<script type="text/javascript">
var image_session_id="$om.getId()";
</script>

<script type="text/javascript">

function  toggleQuarantine(){
  #if($item.needsActivation())
    window.qStatus="true"
  #else
    window.qStatus="false"
  #end
  if(window.qStatus=="true"){
    var initCallback={
						      success:function(o){
						        closeModalPanel("quarantine_");
						        if(document.getElementById("quarantine_div")!=undefined){
						          document.getElementById("quarantine_div").style.display='none';
						        }
						        if(document.getElementById("quarantine_a")!=undefined){
						    	      document.getElementById("quarantine_a").innerHTML="Places this data in quarantine.";
						    	      document.getElementById("quarantine_a").innerHTML="<img id='quarantine_img' border='0' src='$content.getURI("images/checkmarkOrange.gif")'/> Quarantine";
						    	    }
						    	    window.qStatus="false";
      },
			      failure:function(o){
						        closeModalPanel("quarantine_");
				      },
                cache:false, // Turn off caching for IE
			      scope:this
		    }
		    openModalPanel("quarantine_","Removing item from quarantine.");
		    #if($item.instanceOf("xnat:subjectData"))
		      YAHOO.util.Connect.asyncRequest('PUT',serverRoot+"/REST/projects/$om.getProject()/subjects/$om.getId()?activate=true&XNAT_CSRF="+csrfToken,initCallback);
    #elseif($item.instanceOf("xnat:derivedData"))
		      YAHOO.util.Connect.asyncRequest('PUT',serverRoot+"/REST/projects/$om.getProject()/subjects/$om.getImageSessionData().getSubjectId()/experiments/$om.getImageSessionData().getId()/assessors/$om.getId()?activate=true&XNAT_CSRF="+csrfToken,initCallback);
    #else
		      YAHOO.util.Connect.asyncRequest('PUT',serverRoot+"/REST/projects/$om.getProject()/subjects/$om.getSubjectId()/experiments/$om.getId()?activate=true&XNAT_CSRF="+csrfToken,initCallback);
    #end
  }else{
    var initCallback={
						      success:function(o){
						        closeModalPanel("activate_");
						        if(document.getElementById("quarantine_div")!=undefined){
						          document.getElementById("quarantine_div").style.display='none';
						        }
						        if(document.getElementById("quarantine_a")!=undefined){
						    	      document.getElementById("quarantine_a").innerHTML="Removes this data and its descendents from quarantine.";
						    	      document.getElementById("quarantine_a").innerHTML="<img id='quarantine_img' border='0' src='$content.getURI("images/checkmarkGreen.gif")'/> Activate";
						    	    }
						    	    window.qStatus="true";
      },
			      failure:function(o){
						        closeModalPanel("activate_");
				      },
                cache:false, // Turn off caching for IE
			      scope:this
		    }
		    openModalPanel("activate_","Placing item in quarantine.");
		    #if($item.instanceOf("xnat:subjectData"))
		      YAHOO.util.Connect.asyncRequest('PUT',serverRoot+"/REST/projects/$om.getProject()/subjects/$om.getId()?quarantine=true&XNAT_CSRF="+csrfToken,initCallback);
    #elseif($item.instanceOf("xnat:derivedData"))
		      YAHOO.util.Connect.asyncRequest('PUT',serverRoot+"/REST/projects/$om.getProject()/subjects/$om.getImageSessionData().getSubjectId()/experiments/$om.getImageSessionData().getId()/assessors/$om.getId()?quarantine=true&XNAT_CSRF="+csrfToken,initCallback);
    #else
		      YAHOO.util.Connect.asyncRequest('PUT',serverRoot+"/REST/projects/$om.getProject()/subjects/$om.getSubjectId()/experiments/$om.getId()?quarantine=true&XNAT_CSRF="+csrfToken,initCallback);
    #end
  }
}
var obj={};
    obj.uri=serverRoot + "/REST/experiments/$!om.getId()";
    obj.refresh = serverRoot + "/data/services/refresh/catalog?options=" + encodeURIComponent("populateStats,append,delete,checksum") + "&XNAT_CSRF=" + csrfToken + "&resource=/archive/experiments/$!om.getId()";
    obj.objectId = "$!om.getId()";
    obj.objectType = "session";
    obj.categories={};
    obj.categories.ids=[];

	#if($item.isActive() || $item.isQuarantine())
    	#if ($item.canEdit($data.getSession().getAttribute("user")))
              obj.canEdit=true;
        #else
              obj.canEdit=false;
        #end
        #if ($item.canDelete($data.getSession().getAttribute("user")))
    	      obj.canDelete=true;
        #else
    	      obj.canDelete=false;
    	#end
	#else
          obj.canEdit=false;
	      obj.canDelete=false;
	#end

    #if($om.getSortedScans().size()>0)
      obj.categories.ids.push("scans");
      obj.categories["scans"]=new Array();
      #foreach($scan in $om.getSortedScans())
        obj.categories["scans"].push({id:"$scan.getId()",label:"$!scan.getId() $!scan.getType()"});
      #end
    #end

    #if($om.getReconstructions_reconstructedimage().size()>0)
      obj.categories.ids.push("reconstructions");
      obj.categories["reconstructions"]=new Array();
      #foreach($recon in $om.getReconstructions_reconstructedimage())
        obj.categories["reconstructions"].push({id:"$recon.getId()",label:"$!recon.getId() $!recon.getType()"});
      #end
    #end

    #if($om.getMinimalLoadAssessors().size()>0)
      obj.categories.ids.push("assessors");
      obj.categories["assessors"]=new Array();
      #foreach($assessor in $om.getMinimalLoadAssessors())
        var element_name = window.available_elements.getByName("$!assessor.getXSIType()");
        if(undefined != element_name && null != element_name){
			obj.categories["assessors"].push({id:"$assessor.getId()",label:"$!assessor.getLabel() " + element_name.singular});
        }else{
			obj.categories["assessors"].push({id:"$assessor.getId()",label:"$!assessor.getLabel() $!assessor.getXSIType()"});
        }
     #end
    #end

    obj.isImageSession=true;
    window.viewer=new FileViewer(obj);

  function showFiles(){
    window.viewer.render();
  }
</script>

<!-- END imageSessionData/xnat_imageSessionData_report.vm -->
