<!-- Title: HCP -->
<table id="mgmt_container">
    <tr>
        <td>
            <div id="hcp_mgmt_div">
                <table>
                    <tr>
                        <th align="left">Project Name for Subject Dashboard</th>
                        <td><input size="50" type="text" id="dashboardProject" onchange="window.hcpManager.dirtyForm();" onkeypress="window.hcpManager.dirtyForm();" disabled /></td>
                    </tr>
                    <tr>
                        <td colspan="2">The name of the project used to organize the data in the subject dashboard.</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="line-height:8px">&nbsp;</td>
                    </tr>
                    <tr>
                        <th align="left" colspan="2">Site-wide Search Filters</th>
                    </tr>
                    <tr>
                        <td colspan="2">
                            The site-wide search filters used on the subject dashboard.  Should be specified as JSON.
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <textarea id="dashboardSubjectFilters" name="dashboardSubjectFilters" rows="20" cols="80" onkeypress="if (!window.hcpManager.isDirty()) { window.hcpManager.dirtyForm(); }" disabled></textarea>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>

<input type="button" value="Save" name="eventSubmit_doPerform" id="hcp_save_button" onclick="window.hcpManager.saveTabSettings();"/>&nbsp;
<input type="button" value="Reset" name="eventSubmit_doReset" id="hcp_reset_button" onclick="window.hcpManager.resetForm();" disabled/>

<script language="javascript">
function configurationHcpTabChange(obj) {
    if(obj.newValue.get("href")=="#hcp") {
        if(window.hcpManager==undefined) {
            window.hcpManager = new SettingsTabManager('hcp_mgmt_div', hcpControls);
        }
    }
}

function addHcpMgmtMonitor(){
    if(window.configurationTabView.get("activeTab").get("href")=="#hcp") {
        if(window.hcpManager==undefined) {
            window.hcpManager = new SettingsTabManager('hcp_mgmt_div', hcpControls);
        }
    } else {
        window.configurationTabView.subscribe("activeTabChange", configurationHcpTabChange);
    }
}

YAHOO.util.Event.onDOMReady(addHcpMgmtMonitor);
var hcpControls = ['dashboardProject', 'dashboardSubjectFilters'];
</script>
