
p {
  margin-bottom: 1em;
  font-size: 12px;
  line-height: 16px;
}
a {
  font-size: 12px;
}
span.reg {
	list-style-type:none;
	float:left;
	width:200px
}
div.pm {
	z-index:3;
        POSITION: absolute;
	FILTER: alpha(opacity=60);
	BACKGROUND-COLOR: #000000;
	WIDTH: 100%;
	min-height: 1200px;
	height:100%;
	opacity: 0.6;
	top:0;
	left:0;
	display:none;
}
div.announcement {
	width:983px;
	padding-left:15px;
	padding-right:15px;
	font-size:medium;
  line-height: 16px;
} 
div.phase1 {
	position:relative;
	border-right:solid;
	border-right-width:1px;
	border-right-color:#DDDDDD;
	width:630px;
	height:auto;
	float:left;
	padding-left:15px;
	padding-right:15px;
  font-size: 12px;
  line-height: 16px;
} 

div.login {
	position:relative;
	width:300px;
	left:50%;
	margin-left:-180px;
  font-size: 12px;
  line-height: 16px;
} 

div.du {
	height:300px;
	width:90%;
	background-color:#ffffff;
	overflow:auto;
	border:solid;
	border-color:#DDDDDD;
	border-width:1px;
	padding:10px;
	margin-top:0px;
	margin-bottom:20px;
	text-align:left;
}

div.do {
	height:300px;
	width:90%;
	background-color:#ffffff;
	overflow:auto;
	border:solid;
	border-color:#DDDDDD;
	border-width:1px;
	padding:10px;
	margin-left:3%;
	margin-top:10px;
	margin-bottom:20px;
	text-align:left;
	float:left;
}

html,
body {
	margin:0;
	padding:0;
	height:100%;
}

div.container {
	min-height:100%;
	position:relative;
	background-color:#FF0000;
}
div.agreed {
        background-color: #ffffff; 
        border-radius: 20px; -moz-border-radius: 20px; 
        display:none;
        padding: 20px; 
        position:fixed; left:50%; 
        margin-left: -400px;
	/* margin-top:50px; */ 
        width: 800px; 
        z-index:1001;
	visibility:visible;
	top:135px;
	/* text-align:center; */
}
div.regproc {
        background-color: #FFFFFF; 
        border-radius: 20px; -moz-border-radius: 20px; 
	FILTER: alpha(opacity=60);
	opacity: 0.6;
        display:none;
        padding: 20px; 
        z-index:1101;
	visibility:visible;
	top:135px;
	width:100%;
	height:100%;
	text-align:center;
}
div.regproccont {
	width:40%;
        border-radius: 20px; -moz-border-radius: 20px; 
	height:50px;
        display:none;
	position:fixed;
	left:30%;
	top:30%;
        z-index:1201;
	background-color:#800000;
	text-align:center;
	padding-top:25px;
	font-size:15px;
	color:#FFFFFF;
}
div.header {
	padding:0px;
}
div.body {
	padding:10px;
	padding-bottom:70px;	
}
div.footer {
	position:absolute;
	bottom:0;
	width:100%;
	height:70px;			
	z-index:-1;			
	display:none;			
}
tr.department {
	display:none;
}

