.clear { clear: both ; }
.off-page { position: fixed ; left: -9999px ; top: -9999px ; }
a,
a:hover,
a:active,
a:visited,
a:focus { outline: none !important ; }
#project_label { margin-top: 0 ; font-size: 22px ; font-weight: bold ; color: #000 ; }
#project_label a { color: #084FAB ; }
#packages_container { width: 980px ; min-height: 400px ; margin-bottom: 50px ; padding: 16px 0 ; color: #000 ; /* border: 8px solid #ddd ; */ }
#packages_container a { color: #084FAB ; text-decoration: underline ; }
#packages_container h3 { margin: 0 ; padding-bottom: 10px ; font-size: 20px ; border-bottom: 1px solid #ddd ; }
#packages_container h4 { margin: 20px 8px 5px ; font-size: 18px ; color: #084fab ; }
#packages_container .notes { margin: 4px 8px ; font-size: 11px ; color: #777 ; }
.package { display: none ; position: relative ; margin-top: 12px ; padding: 4px 10px 4px 4px ; background: #f0f0f0 ; border: 1px solid #ddd ; }
.package.matched { display: block ; }
/*
#packages.all .package.matched.all { display: block ; }
#packages.any .package.matched.any { display: block ; }
#packages .package.matched.any.all { display: block ; }
*/
#package-note {
    width: 755px; float: right; margin-top: 30px; margin-bottom: -30px;
    background-color: #ffef99; color: #666; border: 1px solid #ccc; padding: 10px;
}
#package-note-title, #package-note-body { display: inline-block; }
#package-note-title { width: 120px; vertical-align: top; }
#package-note-body { width: 560px; border-left: 1px solid #ccc; margin-left: 20px; padding-left: 20px; font-size: 12px; }
#packages { width: 775px ; margin-top: 30px ; float: right ; }
.package .pkg_icon { position: absolute ; left: 8px ; top: 7px ; background: transparent no-repeat center center ; }
.package .pkg_icon { background-image: url('furniture/pkg-icon.png'); }
.package .pkg_icon.hover { background-image: url('furniture/pkg-icon-hover.png'); }
.package .package_title.hover,
.package.selected .package_title { color: /* #3d78b4 */ #186ec4 !important ; }
.package.selected { background: #ffffd8 ; border-color: #e0e0b8 ; }
.package.selected .pkg_icon { background-image: url('furniture/pkg-icon-queued.png'); }
.package.selected .pkg_icon.hover { background-image: url('furniture/pkg-icon-remove.png'); }
.package.selected .package_title.hover { color: #c00 !important ; }
.package .pkg_top,
.package .pkg_bottom,
.package .pkg_preview { margin-left: 68px ; }
.package .pkg_top { margin-top: 4px ; margin-bottom: 8px ; padding-top: 8px ; padding-bottom: 4px ; border-bottom: 1px solid #ccc ; }
.package.selected .pkg_top { border-bottom-color: #e0e0a0 ; }
.package .pkg_top h5 { float: left ; width: 400px ; margin: 0 ; font-size: 14px ; line-height: 18px ; }
.package .pkg_top h5 a { text-decoration: none !important ; }
.package .pkg_top .summaries { float: right ; margin: 0 ; font-size: 14px ; line-height: 18px ; color: #080 ; }
.package .pkg_bottom { min-height: 52px ; margin-bottom: 4px ; position: relative ; }
.package .pkg_bottom a.add_to_queue { display: block ; position: absolute ; right: 0 ; background: url('furniture/queue_button.png') right top no-repeat ; }
.package .pkg_bottom a.add_to_queue.hover { background-image: url('furniture/queue_button_hover.png') ; }
.package.disabled .pkg_icon,
.package.disabled .pkg_icon.hover { background-image: url('furniture/pkg-icon-disabled.png') !important ; cursor: default !important ; }
.package.disabled .pkg_bottom a.add_to_queue,
.package.disabled .pkg_bottom a.add_to_queue.hover { background-image: url('furniture/queue_button_disabled.png') ; cursor: default !important ; }
.package.disabled .pkg_top a.add_to_queue,
.package.disabled .pkg_top a.add_to_queue.hover { color: #666 !important ; cursor: default !important ; }
.package .pkg_bottom .keywords,
.package .pkg_bottom .formats { color: #505050; margin-top:10px; }
.package .pkg_bottom .keywords a,
.package .pkg_bottom .formats a { color: #606060 !important ; font-weight: bold ; text-decoration: none !important ; }

.package .pkg_bottom .keywords.filters b.keyword.filter,
.package .pkg_bottom .keywords.filters b.keyword.filter:hover { display: inline-block; margin: 0 ; padding: 0 1px 0 3px ;
    /* |---> */ color: #606060 ; font-weight: bold ; text-decoration: none ; letter-spacing: 0.01em ; }

/*.package .pkg_bottom .keywords a:hover,*/
/*.package .pkg_bottom .formats a:hover { color: #186ec4 !important ; cursor: default ; }*/

.package.selected .pkg_bottom a.add_to_queue { width: 139px ; height: 20px ; background-image: url('furniture/queue_button_queued.png') ; }
.package.selected .pkg_bottom a.add_to_queue.hover { background-image: url('furniture/queue_button_remove.png') ; }
.package .pkg_bottom .pkg_desc { width: 500px ; padding-bottom: 25px ; }
.package .pkg_bottom .keywords,
.package .pkg_bottom .formats { position: absolute ; left: 0 ; bottom: 0 ; }
.package .pkg_bottom .keyword.active,
.package .pkg_bottom .format.active { color: /* #333 */ #00459e !important ; /* background: #ffdd77 ; */ }
.package .pkg_bottom .expand_details { display: block ; float: right ; width: 20px ; height: 20px ; position: absolute ; right: 0 ; bottom: 0 ;
    /* |---> */ font-size: 11px ; line-height: 20px ; text-align: center ; vertical-align: middle ; text-decoration: none ;
    /* |---> */ color: #888 !important ; background: /* #e0e0e0 */ url('furniture/information-italic-gray-light.png') right bottom no-repeat ; /* border: 1px solid #c0c0c0 ; border-radius: 3px ; */ }
.package .pkg_bottom .expand_details.active { background-image: url('furniture/information-italic-gray.png') ; }
.package .pkg_bottom .expand_details.open { background-image: url('furniture/information-italic-gray-light.png') ; }
.expand_details:hover { cursor: pointer ; }

#filters { width: 200px ; margin-top: 20px ; float: left ; }

/*#filters > div { width: 100% ; margin-top: 5px ; }*/
#filters .title { margin-top: 15px; padding: 2px ; color: #084fab ; font-size: 13px ; font-weight: bold ; text-align: left ; vertical-align: bottom ; position: relative ; }
#filters .multi.child .title { margin: 0 ; font-weight: bold ; padding: 6px 4px 2px 6px ; }

/*#all_keywords th,*/
#filters > div { position: relative ; padding: 10px ; text-align: left ; vertical-align: top ; font-weight: normal ; }
/*#all_keywords th { padding-left: 10px ; padding-bottom: 0 ; }*/

#filters a.filter { display: block ; text-align: left ; }

/* */
#filters .multi.options,
#filters .multi.options .option { list-style: none ; margin: 0 ; padding: 0 ; }

/* for text lists */
#filters .multi.text { padding: 2px ; /* background: #f0f0f0 ; */ border-top: 1px solid #d3d3d3 ; }
#filters .multi.text .option { padding: 3px 0 ; font-size: 13px ; line-height: 15px ; }

#filters .multi.child { margin: -2px 2px 2px ; padding: 2px ; background: #e0e0e0 ; border: 1px solid #d0d0d0 ; }
#filters .multi.child.hidden { display: none ; }

#filters select.filter { width: 100% ; padding: 4px 2px ; font-family: Arial, Helvetica, sans-serif ; font-size: 12px ; }

#filters .button { padding: 4px 6px !important ; font-size: 13px ; }
#filters .filter .button.multi { background: #f0f0f0 ; }
#filters .filter .button.multi:hover { background: #e0e0e0 ; }
#filters .filter .button.multi.active { background: #084FAB ; }

/* hide the 'all' button(s) for now */
#filters .filter .button.multi.all,
#filters .filter .button[data-keyword="all"] { display: none ; }

/* child filters are hidden by default */
/*#filters .filter.child { display: none ; }*/

#filters .reset_filters { width: 180px ; }



.keywords.filters b { margin: 0 5px ; color: #aaa ; font-weight: normal ; }

.keyword,
.format { display: inline-block ; padding: 1px 2px ; font-weight: normal ; font-style: normal ; color: #084FAB ; text-decoration: underline ; }
/*.keyword:hover,*/
/*.format:hover { color: #186ec4 !important ; text-decoration: underline !important ; }*/
.show_all { display: none ; /* position: absolute ; bottom: 4px ; right: 0 ; */ /* font-size: 11px ; */ font-weight: normal ; font-style: normal ; /* color: #900 !important ; */ text-decoration: underline ; }
.show_all.show { display: inline-block ; }
.show_all:hover { cursor: pointer ; /* color: blue ; */ }

/* .data_formats .keyword { display: block ; width: 100% ; color: red ; } */

.expand_details { display: inline-block ; vertical-align: middle ; text-decoration: none !important ; }

.package .pkg_preview > table { width: 100% ; }
.package .pkg_preview th,
.package .pkg_preview td { padding: 0 ; }

.package .pkg_preview { display: none ; margin-top: 16px ; margin-bottom: 8px ; border: 1px solid #ccc ; background: #fff ; }
.package .pkg_preview .preview_title { width: 100% ; background: #666 ; color: #fff ; font-weight: bold ; font-size: 14px ; }
.package .pkg_preview .preview_title td { padding: 6px 8px ; }
.package .pkg_preview .preview_details { width: 100% ; }
.package .pkg_preview .preview_details th,
.package .pkg_preview .preview_details td { padding: 4px 8px ; }
.package .pkg_preview .preview_details th { background: #d0d0d0 ; }


tr.subject:hover { background: #ffffdd ; }
tr.subject td { border-bottom: 1px solid #f0f0f0 ; }
tr.error { color: #C00 ; }

#download_box { margin-top: 20px ; }
#download_box .buttons { float: right ; }
/* #download_box */ .totals { float: right ; margin: 0 ; padding-top: 5px ; font-size: 16px ; font-weight: bold ; color: #080 ; }
/* #download_box */ .totals b { font-weight: bold ; color: #000 ; }
.totals .hidden_packages { font-weight: normal ; }
.totals.top .buttons button { padding: 0 ; border-radius: 3px ; font-size: 12px }

/*body.modal #download_confirm { position: absolute ; width: 100% ; height: 100% ; }*/

button.rounded { border-radius: 3px ; }
button, .button, a.button, .keyword.button, .format.button, .session-type.button {
    display: inline-block ; margin: 2px ; padding: 2px 6px !important ;
    color: #333 ; border: 1px solid #d3d3d3 ; border-radius: 0 ; font-size: 12px ; font-weight: normal ;
    background: #f0f0f0 url('furniture/btn2_30px.png') top center repeat-x ; text-decoration: none !important ; }
button:hover, .button:hover { cursor: pointer ; color: #186ec4 ; }
button.active, .button.active { color: #fff !important ; background-color: #084FAB ; background-image: url("furniture/btn1_30px.png"); border: 1px solid #508AD0;  }

.download_packages.buttons button.reset_filters {
    font-size: 13px ;
    padding: 2px 6px ;
    /* CSS3 rounded corners */
    border: 1px solid #999 ;
    -moz-border-radius: 4px ; /* FF1+ */
    -webkit-border-radius: 4px ; /* Saf3-4 */
    border-radius: 4px ; /* Opera 10.5, IE 9, Saf5, Chrome */
}



.ie #download_box button { border-radius: 4px ; }
/*
.ie7 #download_box button,
.ie8 #download_box button { border-radius: 3px ; behavior: url('border-radius.htc') ; }
*/

/* #download_box */ button[disabled] { background: #e0e0e0 ; color: #909090 ; border-color: #c0c0c0 }
/* #download_box */ button[disabled]:hover { cursor: default ; }
/* #download_box */ button.download { font-weight: bold ; color: #fff ; background: #080 url('furniture/dl_btn_bkgd.png') center center repeat-x ; border: 1px solid #060 ; }
/* #download_box */ button.download[disabled] { color: #cfe5cf ; background: #a3cca3 ; border-color: /* #7db37d */ #8fbf8f ; }

/* styles for confirmation modal */
#confirm_download { }
#confirm_download .body .inner { padding: 30px 40px ; font-size: 14px ; line-height: 18px ; }
#confirm_download .body .inner h3 { padding-bottom: 5px ; font-size: 16px ; font-weight: normal ; color: #084FAB ; border-bottom: 1px solid #d0d0d0 ; }
#confirm_download .body .inner p { margin: 15px 0 ; font-size: 15px ; }
#confirm_download .body .inner b { font-weight: bold ; }
#confirm_download .body .inner .package_list { padding-bottom: 30px ; border-bottom: 1px solid #d0d0d0 ; }
#confirm_download .body .inner .package_list li { margin: 6px 0 ; font-weight: bold ; color: #080 ; }

.packages_top {
	position: relative;
}
.packages_top {  }
.packages_top > div {  }
.packages_top .totals {
	/*float: none;*/
	clear: right;
    padding-top: 10px;
	/*position: absolute;*/
	/*right: 0;*/
	text-align: right;
	/*top: 0;*/
}
