## No longer used. DataView.vm now handles dashboard, as well
<script type="text/javascript">
    this.changeTierFunction=function(){
        if((("${data.getSession().getAttribute('project')}" == "${data.getSession().getAttribute('defaultProject')}")||("${data.getSession().getAttribute('project')}" == "${data.getSession().getAttribute('defaultRestrictedProject')}")) && jq("select#tierSelect").val()==2){
            var tier2_opts = {
                width:     450,  // box width when used with 'fixed' size, horizontal margin when used with 'custom' size
                height:    280,  // box height when used with 'fixed' size, vertical margin when used with 'custom' size
                title: "Sensitive Data Warning",
                content: "<div style='float:left;padding: 20px 10px 20px 0; width: 64px'><img src='/style/furniture/icon-lock-64px.png' alt='Lock'></div><div style='float:right; width:300px;'><h3>Warning!</h3><p>You are about to view restricted and highly sensitive data. Please remember that you agreed to abide by the <a href='http://humanconnectome.org/data/data-use-terms/restricted-access.html'>HCP Restricted Data Terms of Use</a>. You must take appropriate precautions to secure this data and prevent distribution to unauthorized parties. Changing to this view will reset your filters. If you want to save them, please save them as a group before continuing.</p></div>",
                ok: 'show',
                okLabel: 'Submit',
                okAction: function(){
                    document.getElementById("changeTier").submit();
                },
                cancel: 'show',
                cancelLabel: 'Cancel',
                cancelAction: function(){
                    jq("select#tierSelect").val($data.getSession().getAttribute("tier"));
                },
                closeBtn: 'hide'
            };

            xModalOpenNew(tier2_opts);

        }
        else if((("${data.getSession().getAttribute('project')}" == "${data.getSession().getAttribute('defaultProject')}")||("${data.getSession().getAttribute('project')}" == "${data.getSession().getAttribute('defaultRestrictedProject')}")) && jq("select#tierSelect").val()==1 && $data.getSession().getAttribute("tier")==0){
            //Display restricted warning when going from open access to tier 1
            var change_tier_opts = {
                width:     450,  // box width when used with 'fixed' size, horizontal margin when used with 'custom' size
                height:    280,  // box height when used with 'fixed' size, vertical margin when used with 'custom' size
                title: "Restricted Data Warning",
                content: "<div style='float:left;padding: 20px 10px 20px 0; width: 64px'><img src='/style/furniture/icon-lock-64px.png' alt='Lock'></div><div style='float:right; width:300px;'><h3>Warning!</h3><p>You are about to view restricted data. Please remember that you agreed to abide by the <a href='http://humanconnectome.org/data/data-use-terms/restricted-access.html'>HCP Restricted Data Terms of Use</a>. You must take appropriate precautions to secure this data and prevent distribution to unauthorized parties. Changing to this view will reset your filters. If you want to save them, please save them as a group before continuing.</p></div>",
                ok: 'show',
                okLabel: 'Submit',
                okAction: function(){
                    document.getElementById("changeTier").submit();
                },
                cancel: 'show',
                cancelLabel: 'Cancel',
                cancelAction: function(){
                    jq("select#tierSelect").val($data.getSession().getAttribute("tier"));
                },
                closeBtn: 'hide'
            };

            xModalOpenNew(change_tier_opts);
        }
        else{
            var change_tier_opts = {
                width:     450,  // box width when used with 'fixed' size, horizontal margin when used with 'custom' size
                height:    280,  // box height when used with 'fixed' size, vertical margin when used with 'custom' size
                title: "Tier Change Warning",
                content: "<div><p>Changing to another tier will reset your filters. If you want to save them, please save them as a group before continuing.</p></div>",
                ok: 'show',
                okLabel: 'Submit',
                okAction: function(){
                    document.getElementById("changeTier").submit();
                },
                cancel: 'show',
                cancelLabel: 'Cancel',
                cancelAction: function(){
                    $("select#tierSelect").val($data.getSession().getAttribute("tier"));
                }
            };

            xModalOpenNew(change_tier_opts);
        }
    }
</script>
#if($data.getSession().getAttribute("user").canRead("xnat:subjectData/project",$data.getSession().getAttribute("defaultRestrictedProject")))
    <div id="access" class="hanging-nav-item tier$data.getSession().getAttribute("tier")"><form id="changeTier" name="changeTier" method="get">
        ## <label for="tierSelect">Current Data View: </label>
        <select id="tierSelect" class="input input-xs" name="tierSelect" onchange="changeTierFunction();">
            <option value="0" #if($data.getSession().getAttribute("tier")==0) selected #end>Open Access</option>
			<option value="1" #if($data.getSession().getAttribute("tier")==1) selected #end>Restricted (1)</option>
			<option value="2" #if($data.getSession().getAttribute("tier")==2) selected #end>Sensitive (2)</option>
        </select>
    </form></div>
	
	<script type="text/javascript">
		$("#access").appendTo("#hanging-nav");
		$(document).ready(function(){
			if ($("#access").hasClass("tier1")) { $("#hanging-nav").addClass("tier1") } 
			else if ($("#access").hasClass("tier2")) { $("#hanging-nav").addClass("tier2") } 
			else { $("#hanging-nav").addClass("tier0") }
		});
	</script>
#end

