<!-- QuickSearch -->
<div id="header">
	<h1 id="page-title">ConnectomeDB Project Dashboard</h1>
    <p style="display:none">$!systemName currently contains $proj_count $displayManager.getPluralDisplayNameForProject().toLowerCase(),
    $sub_count $displayManager.getPluralDisplayNameForSubject().toLowerCase(),
    and $isd_count imaging $displayManager.getPluralDisplayNameForImageSession().toLowerCase().</p>
</div>


<div id="front_search" class="yui-navset"></div>

<script type="text/javascript">

    var frontTabs=new YAHOO.widget.TabView('front_search');

    frontTabs.addTab(new YAHOO.widget.Tab({
        label:'Search Projects',
        dataSrc:serverRoot+'/app/template/DataTypeSearch.vm/dataType/xnat:projectData',
        cacheData:true,
        loadMethod:"POST",  //Have to set the request to POST because IE caches all GET requests even if cacheData is set to false.
        active:true
    }));

    // get the tab contents with jQuery's $().load() method
    // instead of loading on tab click with YUI
    // (loads the HTML returned via AJAX into the <div>)

    $('div.quick-search-tab').each(function(){

        var container = $(this),
            dataType = container.data('type'),
            url = XNAT.url.restUrl('/app/template/DataTypeSearch.vm/dataType/xnat:' + dataType, '', true, false);

        // get JUST the <form> from the returned HTML
        url += ' form.data-type-search'

        container.load(url, function(){
            // callbacks
            chosenInit();
            XNAT.app.searchMethodToggler(container);
        });

    });

</script>

<br>

<table id="splash_table" width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td width="" valign="top">
            <div id="projectsContainer" class="container">
                <div class="withColor containerTitle">$displayManager.getPluralDisplayNameForProject()</div>
                <div id="projectsBody" class="containerBody">
                    #parse("/screens/minProjectsList.vm")
                </div>
            </div>
        </td>
##        <td width="10">&nbsp;</td>
##        <td width="340" valign="top">
##            <div id="dataContainer" class="container">
##                <div class="withColor containerTitle">Recent Data Activity</div>
##                <div id="dataBody" class="containerBody">
##                    #parse("/screens/recentExptList.vm")
##                </div>
##            </div>
##        </td>
    </tr>
</table>
<!-- /QuickSearch -->