<script language="javascript">
var server= "$content.getURI("images")/";
</script>

<script type="text/javascript" src="$content.getURI("scripts/sortable_us.js")"></script>
<script type="text/javascript" src="$content.getURI("scripts/toggleBox.js")"></script>
<script type="text/javascript">
	function toggleFilter(key){
		var filter = document.getElementById("filter-"+key); 
		if ($(filter).hasClass("active")) { 
			$(filter).removeClass("active");
		} else { 
			$(filter).addClass("active");
		}
		toggleBox(key); 
	}
	$(document).ready(function(){
		$(".filterLink").on("click",function(){ 
			var key = $(this).data("key"); 
			toggleFilter(key); 
		});
		
		$(".showAll").on("click",function(){ 
			$(".filterLink").each(function(){ 
				var key = $(this).data("key"); 
				var filter = $(this); 
				if (!$(filter).hasClass("active")) {
					toggleFilter(key); // only activate filters that are not active.
				}
			});
		});
		
		$(".containerTitle").on("click",function(){ 
			var key = $(this).data("key"); 
			toggleFilter(key); 
		});
		
	}); 
</script>

## get our list of user-approved datasets
###parse("/screens/ProjectList.vm")
#set($datasets = $data.getSession().getAttribute("dashboardProjects"))

<div id="header">
	<h1 id="page-title">Search Results for "$searchTerm"</h1>	
	<p>Your search matched $matchCount entries. The matches are grouped below by data type.  Please select the pertinent entry.</p>
</div>

<div class="devHack hidden">
	<div name="matches">$matches</div>
	<div name="keyset">$matches.keySet()</div>
	<div name="entryset">$matches.entrySet()</div>
	<div name="typeprojectmapping">$typeProjectMapping</div>
</div>

<link rel="stylesheet" href="/style/downloadPackages_v2.css" />
<style type="text/css">
	
</style>
<div id="searchResults">
	<div id="filters" class="filters keywords">
		<div class="filter_container">
			<p class="filter title">Results Found In:</p>
			<ul class="options multi modalities filter">
				#foreach($key in $matches.keySet()) 
					#set($matchList = $matches.get($key))
					#set($resultCount = 0)
					#foreach($dataset in $datasets) 
						#set($resultCount = $resultCount + $matchList.get($dataset).size() ) 
					#end
					<li class="option"><a href="javascript:" class="filterLink filter multi modalities button active" id="filter-$key" data-key="$key">$elementNames.get($key) (${resultCount})</a></li>
				#end
			</ul>
			#if ($matches.keySet().size() > 1) 
			<p><a href="javascript:" class="showAll">Show All</a></p>
			#end
		</div>
	</div>
	
	<div class="resultSet">
		#foreach($key in $matches.keySet())
			#set($matchList = $matches.get($key))
			#set($typeProjectMappingList=$typeProjectMapping.get($key))
			<div id="${key}Container" class="container">
				<div class="withColor containerTitle" style="cursor:pointer;" data-key="$key">
					<table width="100%" cellpadding="0" cellspacing="0">
						<tr>
							<td>$elementNames.get($key)</td>
							<td align="right">
								<div style="cursor:pointer;display:inline;height:12px" onclick=""><img id="${key}Image" src="$content.getURI("/images/minimize.gif")" border="0"/></div>
							</td>
						</tr>
					</table>
				</div>
				<div id="${key}Body" class="containerBody padded">
				## only return results for specified datasets
				#foreach($dataset in $datasets)
					#if ($matchList.get($dataset).size() > 0)
						<p>Dataset: $pMappings.get($dataset) ($matchList.get($dataset).size())</p>
						<ul #if($matchList.get($dataset).size()>15) class="tooLarge" #end>
							#foreach($match in $matchList.get($dataset))
							<li><a HREF="$link.setAction("DisplayItemAction").addPathInfo("search_element","${key}").addPathInfo("search_field","${key}.ID").addPathInfo("search_value",$match.getProperty("ID")).addPathInfo("popup","$!popup").addPathInfo("project","$!dataset")">$!match.getIdentifier($dataset,false)</a></li>
							#end
						</ul>
					#end
				#end
				</div>
			</div>
			<div class="spacer">&nbsp;</div>
		#end
	</div>
</div>