<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("XDAT")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#set($months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"])
#set($days = [ 1..31 ])
#set($years = [ $!turbineUtils.getYear()..1900])
#if ($data.message)
<font color="red" size="3">$data.message</font>
#end
<p>
<form ID="form1" name="form1" method="post" action="$link.setAction("ModifySubjectAssessorData")">
<input type="hidden" name="project" value="$!{project}" >
#if($vr)
	<font color="red">Invalid parameters:<BR>$vr.toHTML()</font>
<HR>
#end

<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<DIV class="edit_title">7T Eye Tracker Details</DIV>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD colspan='2'>
								#parse("/screens/xnat_edit_subjectAssessorData.vm")
							</TD></TR>
							<tr>
								<TD colspan="2">#parse("/screens/EditProjectSpecificFields.vm")</TD>
							</tr>
							<TR><TD>trackfrac</TD><TD>#xdatTextBox("hcp:EyeTracker7T/trackfrac" $item "" $vr)</TD></TR>
							<TR><TD>TRfrac</TD><TD>#xdatTextBox("hcp:EyeTracker7T/TRfrac" $item "" $vr)</TD></TR>
							<TR><TD>RET_trackfrac_min</TD><TD>#xdatTextBox("hcp:EyeTracker7T/RET_trackfrac_min" $item "" $vr)</TD></TR>
							<TR><TD>RET_TRfrac_min</TD><TD>#xdatTextBox("hcp:EyeTracker7T/RET_TRfrac_min" $item "" $vr)</TD></TR>
							<TR><TD>MOV1_trackfrac</TD><TD>#xdatTextBox("hcp:EyeTracker7T/MOV1_trackfrac" $item "" $vr)</TD></TR>
							<TR><TD>MOV1_TRfrac</TD><TD>#xdatTextBox("hcp:EyeTracker7T/MOV1_TRfrac" $item "" $vr)</TD></TR>
							<TR><TD>MOV2_trackfrac</TD><TD>#xdatTextBox("hcp:EyeTracker7T/MOV2_trackfrac" $item "" $vr)</TD></TR>
							<TR><TD>MOV2_TRfrac</TD><TD>#xdatTextBox("hcp:EyeTracker7T/MOV2_TRfrac" $item "" $vr)</TD></TR>
							<TR><TD>MOV3_trackfrac</TD><TD>#xdatTextBox("hcp:EyeTracker7T/MOV3_trackfrac" $item "" $vr)</TD></TR>
							<TR><TD>MOV3_TRfrac</TD><TD>#xdatTextBox("hcp:EyeTracker7T/MOV3_TRfrac" $item "" $vr)</TD></TR>
							<TR><TD>MOV4_trackfrac</TD><TD>#xdatTextBox("hcp:EyeTracker7T/MOV4_trackfrac" $item "" $vr)</TD></TR>
							<TR><TD>MOV4_TRfrac</TD><TD>#xdatTextBox("hcp:EyeTracker7T/MOV4_TRfrac" $item "" $vr)</TD></TR>
							<TR><TD>REST_trackfrac_min</TD><TD>#xdatTextBox("hcp:EyeTracker7T/REST_trackfrac_min" $item "" $vr)</TD></TR>
							<TR><TD>REST_TRfrac_min</TD><TD>#xdatTextBox("hcp:EyeTracker7T/REST_TRfrac_min" $item "" $vr)</TD></TR>
							<TR><TD>RET_eyetrack_compl</TD><TD>#xdatBooleanRadio("hcp:EyeTracker7T/RET_eyetrack_compl" $item false $vr)</TD></TR>
							<TR><TD>MOV_eyetrack_compl</TD><TD>#xdatBooleanRadio("hcp:EyeTracker7T/MOV_eyetrack_compl" $item false $vr)</TD></TR>
							<TR><TD>REST_eyetrack_compl</TD><TD>#xdatBooleanRadio("hcp:EyeTracker7T/REST_eyetrack_compl" $item false $vr)</TD></TR>
						</TABLE>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
</TABLE>
</form>

<script type="text/javascript">
function validateForm()
{
   //INSERT CUSTOM CONTENT HERE

   validateSubjectAssessorForm();
   return false;
}
</script>
