<!-- begin XDATScreen_report_hcp_alertness.vm -->
$page.setTitle("Alertness Data")
#parse("/screens/HcpReportTop.vm")

<div class="report-info-block">
	<h2 class="expts_header">Alertness Score Results</h2>
	<table>
	  <thead>
		<th width="75%">Measure</th><th width="25%">Score</th>
	  </thead>
	  <tbody>
		<tr>
			<td>MMSE (Folstein Mini-Mental State Exam) Total Score: &nbsp;</td>
			<td align="center">$!item.getIntegerProperty("hcp:alertness/HCPMMSE/TotalScore")</td>
		</tr>
		<tr>
			<td>PSQI (Pittsburgh Sleep Quality Index) Total Score: </td>
			<td align="center">$!item.getIntegerProperty("hcp:alertness/HCPPSQI/TotalScore")</td>
		</tr>
	  </tbody>
	</table>
	<h2 class="expts_header">PSQI Component Score Results</h2>
	<table>
	  <thead>
		<th width="75%">Measure</th><th width="25%">Score</th>
	  </thead>
	  <tbody>
		<tr>
			<td>PSQI Component 1 (Subjective Sleep Quality) Score: </td>
			<td align="center">$!item.getIntegerProperty("hcp:alertness/HCPPSQI/Comp1Score")</td>
		</tr>
		<tr>
			<td>PSQI Component 2 (Sleep Latency) Score: </td>
			<td align="center">$!item.getIntegerProperty("hcp:alertness/HCPPSQI/Comp2Score")</td>
		</tr>
		<tr>
			<td>PSQI Component 3 (Sleep Duration) Score: </td>
			<td align="center">$!item.getIntegerProperty("hcp:alertness/HCPPSQI/Comp3Score")</td>
		</tr>
		<tr>
			<td>PSQI Component 4 (Sleep Efficiency) Score: </td>
			<td align="center">$!item.getIntegerProperty("hcp:alertness/HCPPSQI/Comp4Score")</td>
		</tr>
		<tr>
			<td>PSQI Component 5 (Sleep Disturbance) Score: </td>
			<td align="center">$!item.getIntegerProperty("hcp:alertness/HCPPSQI/Comp5Score")</td>
		</tr>
		<tr>
			<td>PSQI Component 6 (Use of Sleep Meds) Score: </td>
			<td align="center">$!item.getIntegerProperty("hcp:alertness/HCPPSQI/Comp6Score")</td>
		</tr>
		<tr>
			<td>PSQI Component 7 (Daytime Dysfunction) Score: </td>
			<td align="center">$!item.getIntegerProperty("hcp:alertness/HCPPSQI/Comp7Score")</td>
		</tr>
	  </tbody>
	</table>
</div>

<!-- END XDATScreen_report_hcp_alertness.vm -->
